@model IEnumerable<WebMVC.Models.Reservation>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "View";
}

<h1>Reservations</h1>


@if (@ViewBag.empty == "")
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary"})

                        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "User" && item.StartDate > DateTime.Now)
                        {
                            @Html.ActionLink("Delete", "Delete", "Reservation", new { id = item.Id }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }



        </tbody>
    </table>
}
else
{
    <h3>@ViewBag.empty</h3>
}


