@model WebMVC.Models.User
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "UserDetails";
}

@if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner")
{

    <h1>Client</h1>
}
else
{
    <h1>User</h1>
}


<div>
    <hr />
    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner")
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    }
    else if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner" && Model.Id == @HttpContextAccessor.HttpContext.Session.GetString("ID") || @HttpContextAccessor.HttpContext.Session.GetString("Role") == "User")
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div>
            @Html.ActionLink("Change Password", "ChangePassword") |
        </div>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Check Reservations", "GetUsersReservations", "Reservation", new { id = Model.Id }) |
            <a asp-action="GetUsers">Back to List</a>
        </div>
    }

</div>

