@model WebMVC.Models.Hotel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "HotelDetails";
}

<div>
    <h1>Hotel</h1>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") != null)
    {
        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner" && Model.OwnerID == @HttpContextAccessor.HttpContext.Session.GetString("ID"))
        {
            @Html.ActionLink("Edit", "EditHotel", new { id = Model.Id }, new { @class = "btn btn-primary" })
        }
    }

    @if (@HttpContextAccessor.HttpContext.Session.GetString("ID") != null)
    {
        @if (@HttpContextAccessor.HttpContext.Session.GetString("ID") == Model.OwnerID)
            @Html.ActionLink("Add room", "CreateRoom", new { hotelId = Model.Id }, new { @class = "btn btn-primary" })
    }
    @if (Model.Rooms == null)
    {
        <p>There are no rooms</p>
    }
    else
    {
        <h3>Rooms</h3>

        @foreach (var item in Model.Rooms)
        {
            <dl class="row">
                @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") != null)
                {
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner" && Model.OwnerID == @HttpContextAccessor.HttpContext.Session.GetString("ID"))
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(i => item.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(i => item.Id)
                        </dd>
                    }
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.BedForOne)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.BedForOne)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.BedForTwo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.BedForTwo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.NumberOfGuests)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.NumberOfGuests)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.Standard)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.Standard)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(i => item.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(i => item.Description)
                </dd>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") != null)
                {
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner" && Model.OwnerID == @HttpContextAccessor.HttpContext.Session.GetString("ID"))
                    {
                        <dt class="col-sm-2">
                            Delete
                        </dt>
                        <dd class="col-sm-10">
                            @Html.ActionLink("Delete", "DeleteRoom", new { hotelId = Model.Id, roomId = item.Id }, new { @class = "btn btn-primary" })
                        </dd>
                    }
                }
            </dl>
        }
    }

</div>
<div>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") != null)
    {
        @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Owner" && Model.OwnerID == @HttpContextAccessor.HttpContext.Session.GetString("ID"))
        {
            @Html.ActionLink("Back to list", "GetOwnerHotel", new { ownerId = @HttpContextAccessor.HttpContext.Session.GetString("ID") })
        }
        else
        {
            @Html.ActionLink("Back to list", "GetHotels")
        }
    }
    else
    {
        @Html.ActionLink("Back to list", "GetHotels")
    }
</div>
