@model IEnumerable<WebMVC.Models.Hotel>

@{
    ViewData["Title"] = "HotelOwnerList";
}

<h1>HotelOwnerList</h1>
@Html.ActionLink("Create New", "CreateHotel")
@if (@ViewBag.empty == "")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditHotel", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "GetHotel", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "DeleteHotel", "Hotel", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Reservations", "GetOwnersReservations", "Reservation", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h3>@ViewBag.empty</h3>
}
