@model IEnumerable<WebMVC.Models.RoomHotelViewModel>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "View";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("GetFiltredRooms", "Hotel", FormMethod.Get))
{

    <div class="form-inline card-header">
        @Html.TextBox("city", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-2 float-left ml-3", @placeholder = "City" })
        @Html.TextBox("phrase", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-2 float-left ml-3", @placeholder = "Phrase" })
        @Html.TextBox("bedForOne", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-1 float-left ml-3", @placeholder = "Bed for one", @type = "number", @min = "0",  })
        @Html.TextBox("bedForTwo", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-1 float-left ml-3", @placeholder = "Bed for two", @type = "number", @min = "0" })
        @Html.TextBox("numberOfGuests", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-1 float-left ml-3", @placeholder = "Guests", @type = "number", @min = "0" })
        @Html.TextBox("price", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-2 float-left ml-3", @placeholder = "Max price", @type = "number", @min = "0" })
    </div>
    <div class="form-inline card-header">
        @Html.DropDownList("standard", new SelectList(ViewBag.Standard), "Wybierz standard")
        @Html.TextBox("dateStart", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-2 float-left ml-3", @placeholder = "Data poczatkowa", @type = "date", min = DateTime.Now })
        @Html.TextBox("dateEnd", ViewBag.CurrentFilter as string, new { @class = "form-control col-md-2 float-left ml-3", @placeholder = "Data końcowa", @type = "date", @min = DateTime.Now })

        <input id="filter" class="btn btn-primary float-left ml-3" type="submit" value="Search" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.BedForOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.BedForTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Standard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.BedForOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.BedForTwo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.NumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Standard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "GetRoomDetails", new { hotelId = item.HotelId, roomId = item.Room.Id, }, new { @class = "btn btn-primary" })
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "User")
                    {
                        <button class="btn btn-success book-btn" onclick="book('@item.HotelId', '@item.Room.Id')">Book</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    function book(hotelId, roomId) {
        if ($('#dateStart').val() != "" && $('#dateEnd').val() != "" && $('#dateStart').val() < $('#dateEnd').val()) {
            $.get('@Url.Action("Create", "Reservation")', { hotelId: hotelId, roomId: roomId, startDate: $('#dateStart').val(), endDate: $('#dateEnd').val() }, function (data) {
                window.location.replace('@Url.Action("GetUsersReservations", "Reservation")');
            });
        } else if ($('#dateStart').val() < $('#dateEnd').val()) {
            alert("end date must be later than start date");
        }
        else {
            $('#dateStart').select();
            alert("select a start date and end date");
        }
    }
    $("#dateEnd").change(function () {
        if ($("#dateStart").val() != "") {
            $("#filter").click();
        }
    });
    $("#dateStart").change(function () {
        if ($("#dateEnd").val() != "") {
            $("#filter").click();
        }
    });

        $(document).ready(function () {
            if ($('#dateStart').val() == "" && $('#dateEnd').val() == "") {
                $(".book-btn").hide();
            }
        
    });
</script>
