@model WebMVC.Models.RoomHotelViewModel

@{
    ViewData["Title"] = "RoomDetails";
}

<h1>RoomDetails</h1>

<div>
    <hr />
    <dl class="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.BedForOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.BedForOne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.BedForTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.BedForTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.NumberOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Standard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Standard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetFiltredRooms">Back to List</a>
</div>
